.listItem{
    min-height: 150px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    justify-content:top;
    align-items:center;
    opacity:.8;
    border-radius: 10px;
    }
    .listItem div{
       border: 1px solid;
       background-color: rgba(243, 20, 12, 0.849);
       border-radius: 20px;
       color:white;
       width:80%;
       display:flex;
       justify-content: center;
       min-height: 20px;
    }
    .RemoveButton{
        border-radius: 100px;
        color: rgb(41, 40, 39);
        background-color: rgb(245, 245, 237);
        width:30px;
        height: 30px;
        margin-top:5px;
    }
    .listItem div p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left:5px;
        width: 85%;
        color:rgb(255, 255, 255);
    }