.App {
  text-align: center;
  margin-top: 50px;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
.App .Container {
  display:flex;
  justify-content: space-around;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  display: flex;
  flex-direction:column-reverse;
  justify-content:space-between;
  margin:10px;
  background-color: rgba(255, 253, 253, 0.863);
}
div{
 
  display: flex;
  
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
input {
  margin: 10px 500px;
  width:200px;
  height: 20px;
  border-radius: 10px;
}
.title {
  display: flex;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(22, 22, 22);
}